<h1 class="display-4">Article List:</h1>
            <ul id="to-do-list" class="list-group">
              {{#each examples}}
              <li data-id="{{this.id}}" class="list-group-item">
                <a href="index{{this.id}}">{{this.text}}</a>
              </li>
              {{/each}}
              <br>
            </ul>

<div id = "articles"></div>
          